body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Header */

.header {
    display: flex;

    background-color: #1f2937;
    flex-direction: column;
    color: #e5e7eb;
}

#header-sub {
    display: flex;
    margin: 15px 40px;
}

#header-sub #header-logo {
    font-size: 24px;
    color: #f9faf8;

}

#header-sub #header-links {
    align-content: center;

    margin-left: auto;
}
#header-sub ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0px;
    
}

#header-content {
    display: flex;
    margin: 40px;
    justify-content: space-between;
}

#header-content #header-info {
    margin: 0;
}

#main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

#header-signup-button {
    background-color: #3882f6;
    color: white;
    padding: 5px;
    margin: 10px 0px;
    width: 120px;
    border-radius: 10px;
    border-style: none;
    font-size: large;
    font-weight: bold;
}
#header-img {
    width: 500px;
    height: 200px;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
}

#some-info {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 30px;
}

#images {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

#img-text {
    margin-top: 10px;
}

.content-img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 14px;
}

#quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px;
    
}

#quote-text {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    
}

#quote-author {
    font-weight: bold;
    align-self: flex-end;
    margin: 10px 40px 0px 40px;
    font-size: 24px;
}

#sign-up {
    display: flex;
    background-color: #3882f6;
    margin: 50px 100px;
    padding: 30px 80px;
    border-radius: 10px;
}

#main-sign-up-text {
    color: #f9faf8;
    font-weight: 900;
    font-size: large;
}

#secondary-sign-up-text {
    color: #e5e7eb;
    font-size: medium;
    font-weight: 100;
}

#sign-up-btn {
    margin-left: auto;
    align-self: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-style: none;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: medium;
    
}

/* Footer  */

.footer {

    background-color: #1f2937;
}